* {
  box-sizing: border-box;
 }
 
html {
    font-size: 90%;
}

main {
    margin: auto;
    width: 1000px;
}
img {
    width: 90%;
} 

#header {

    margin: auto;
    width: 100%;
    font-size: 20px;
    position: fixed;
    top: 0;
    background-color: grey;
    color: aliceblue;
}

body {
    margin: 0;
    padding: 0;
    background: white;
    font-family: serif;
}
h1 {
    background: #000;
    color: #fff;
    padding: 0.25em 0 0.25em 0.5em;
}
h1 span {
    color:lightgrey;
    font-size: 0.8em;
    font-style: italic;
    margin-left: 1em;
}

